[Unit]
Description=Sectora Daemon
After=network-online.target
Requires=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/sectorad
# Environment=LOG_LEVEL=DEBUG
# Environment=RUST_BACKTRACE=1
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
